.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 17px 25px;
  max-width: 1240px;
}

.header__logo {
  margin-right: 94px;
  cursor: pointer;
}

.header__search {
  flex-grow: 1;
  margin-right: auto;
}

.header__favourite-btn {
  color: #fff;
  transition: filter 0.2s ease-in-out;
  line-height: 0;
}

.header__favourite-btn:hover {
  filter: drop-shadow(0 0 2px #000);
}

.header__favourite-btn_active {
  color: #000;
}
